.nav-link
{
    /* nav-link used change style in the link tag*/ 
    font-size: 25px;
    color:orange;
    text-shadow: 1px 1px 1px black;
    background-color: none;

}
.nav-link:hover{
    /* color: rgb(126, 252, 239); */
    color:red;
    text-shadow: 1px 1px 1px black;
   
}
#home{
    color: red;
    text-shadow: 1px 1px 1px black;
}
#logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 2px 3px 5px skyblue;
}



.theam{
    background-color:lightblue;
    color: white;
}
#id{
    background-color: rgba(0, 0, 255, 0.64);
    color: white;
}

body {
    font-family: "Audiowide",sans-serif;
  }

  h1{
    color: white;
      text-shadow: 1px 1px 1px black;
  }

 
   
.bg{
    background-color: lightgray;
}
.logo{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-top: 10px;
       box-shadow: 2px 3px 5px skyblue;
}
