.nav-link
{
    /* nav-link used change style in the link tag*/ 
    font-size: 25px;
    color:white;
    text-shadow: 1px 1px 1px black;

    background-color: none;

}
.nav-link:hover{
    /* color: rgb(126, 252, 239); */
    color: red;
    text-shadow: 1px 1px 1px black;
   
}
#home{
    color: red;
    text-shadow: 1px 1px 1px black;
}
.logoimg{

    /*logo image change the style on school logo image*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid rgb(126, 252, 239);
    box-shadow: 2px 4px 5px ghostwhite;
}

.searchbox{
    color: teal;
   box-shadow: 2px 2px 5px white;
}
.searchbutton{
    
    color: white;
    background-color: yellowgreen;
    
   
}

#code{
    color:mediumseagreen;
    font-size: 35px;
}

.theam{
    background-color:lightblue;
    color: white;
}
#id{
    background-color: rgba(0, 0, 255, 0.64);
    color: white;
}

body {
    font-family: "Audiowide",sans-serif;
  }

  .col{
    display: flex;
    flex-direction: column;
    align-items: center;
  
   
}
.bg{
    background-color: lightgray;
}
